<%= form.label attribute, class: 'label auth-field-label' do %>
  <span class="label-text">
    <%= label_text %><% if required %><span class="label-required" aria-hidden="true"> *</span><% end %>
  </span>
<% end %>
