<%= render 'shared/turbo_modal', title: @base_template ? t('clone_template') : t('new_document_template') do %>
  <div class="tpl-new-form">
    <%= render 'templates/file_form' %>
  </div>
<% end %>
