<div class="alert ds-pro-lock-banner preferences-pro-banner">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold ds-pro-lock-title">
      <%= t('api_and_embedding') %>
    </p>
    <p class="ds-pro-lock-description">
      <%= t('unlock_with_docuseal_pro') %>
      <a class="link font-medium ds-pro-lock-link" target="_blank" href="https://trustseal.cybroscloud.com/" data-turbo="false">
        <%= t('learn_more') %>
      </a>
    </p>
  </div>
</div>
