<div class="alert my-4 ds-pro-lock-banner">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold ds-pro-lock-title">
      <%= t('unlock_with_docuseal_pro') %>
    </p>
    <p class="ds-pro-lock-description">
      <%= t('send_automatic_email_reminders_to_your_recipients') %>
      <br>
      <a class="link font-medium ds-pro-lock-link" target="_blank" href="https://trustseal.cybroscloud.com/" data-turbo="false">
        <%= t('learn_more') %>
      </a>
    </p>
  </div>
</div>
