<div class="alert ds-pro-lock-banner">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold ds-pro-lock-title">
      <%= t('bulk_send_from_excel_xlsx_or_csv') %>
    </p>
    <p class="text-base-content/75 ds-pro-lock-description">
      <%= t('unlock_with_docuseal_pro') %>
      <br>
      <a class="link font-medium ds-pro-lock-link" target="_blank" href="https://trustseal.cybroscloud.com/" data-turbo="false">
        <%= t('learn_more') %>
      </a>
    </p>
  </div>
</div>
