<div class="form-control">
  <%= label_tag 'user[otp_attempt]', t('two_factor_code_from_authenticator_app'), class: 'label' %>
  <%= text_field_tag 'user[otp_attempt]', nil, autofocus: true, autocomplete: 'off', placeholder: t('otp_code_placeholder', default: 'XXX-XXX'), required: true, class: 'base-input w-full' %>
</div>
